[submodule "Low-Power"]
	path = Low-Power
	url = https://github.com/anthonygreen17/Low-Power
[submodule "Adafruit_BluefruitLE_nRF51"]
	path = Adafruit_BluefruitLE_nRF51
	url = https://github.com/adafruit/Adafruit_BluefruitLE_nRF51
